Kinetic
%br
= link_to 'Sign out', destroy_user_session_path, method: :delete
%br
%ul
  - if current_user.is?(:admin)
    %li
      = link_to 'Commission rules', rules_path

  - if current_user.is?(:moderator)
    %li
      = link_to 'Organizations', organizations_path
    %li
      = link_to 'Deals', deals_path

  %li
    = render 'my_commissions', commissions: @commissions
