****** THIS PAGE IS FOR TESTING PURPOSES ONLY ******
%br
%br
Deals
%br
%table{:class=>"table table-striped table-bordered table-condensed"} 
  %tr
    %th
      Name
    %th
      Amount
    %th
      User
    %th
      Organization
    %th
      Actions
  - @deals.each do |deal|
    %tr
      %td
        = deal.name
      %td
        = number_to_currency(deal.amount)
      %td
        = deal.user.email
      %td
        = deal.organization.name
      %td
        = link_to 'Associate Rules', associate_deal_path(deal), method: 'POST'

= link_to 'New deal', new_deal_path
%br
%br
Commission Rules/Schedules
%br
%table{:class=>"table table-striped table-bordered table-condensed"}
  %tr
    %th
      Deal name
    %th
      Rule name
    %th
      Payment date
    %th
      Calculation date
    %th
      Actions
  - @scheduled_commissions.each do |schedule|
    %tr
      %td
        = schedule.deal.name
      %td
        = schedule.rule.name
      %td
        = schedule.commission_payment_date.try(:strftime, '%D')
      %td
        = schedule.calculate_commission_date.try(:strftime, '%D')
      %td
        = link_to 'Schedule', schedule_deal_path(schedule.deal), method: 'POST'
        = link_to 'Calculate', calculate_deal_path(schedule.deal), method: 'POST'
%br
%br
Commissions
%br
%table{:class=>"table table-striped table-bordered table-condensed"}
  %tr
    %th
      Deal name
    %th
      Rule name
    %th
      User email
    %th
      Payment date
    %th
      Payment amount
  - @commissions.each do |commission|
    %tr
      %td
        = commission.deal.name
      %td
        = commission.rule.name
      %td
        = commission.user.email
      %td
        = commission.payment_date.try(:strftime, '%D')
      %td
        = number_to_currency(commission.amount)
