****** THIS PAGE IS FOR TESTING PURPOSES ONLY ******
%br
= @deal.errors.full_messages
%br
= simple_form_for @deal do |form|
  = form.input :name
  = form.input :user_id
  = form.input :organization_id
  = form.input :amount
  = form.input :sell_date, as: :date_field
  = form.input :start_date, as: :date_field
  = form.input :end_date, as: :date_field
  = form.submit

Users:
%table{class: "table table-striped table-bordered table-condensed"}
  %tr
    %th
      User Id
    %th
      User Email
    %th
      Organization Id
    %th
      Organization Name
  - @users.each do |user|
    %tr
      %td
        #{user.id}
      %td
        #{user.email}
      %td
        #{user.organization.id}
      %td
        #{user.organization.name}
