Commissions Rules
%table{:class=>"table table-striped table-bordered table-condensed"}
  %tr
    %th
      Name
    %th
      Status
    %th
      Start Date
    %th
      End Date
    %th
      Actions
  - @rules.each do |rule|
    %tr
      %td
        = rule.name
      %td
        = rule.active
      %td
        = rule.start_date.strftime("%D")
      %td
        = rule.end_date.strftime("%D")
      %td
        = link_to 'Edit', edit_rule_path(rule)
        - if rule.active?
          = link_to 'Deactivate', rule_path(rule), method: 'DELETE'

= link_to 'New rule', new_rule_path
