.js-payment-date
  = payment_date_form.input :event_type, disabled: disabled
  = payment_date_form.input :modifier, disabled: disabled
  = payment_date_form.input :day_count, disabled: disabled
  = payment_date_form.input :type, as: :hidden, input_html: { value: 'DateOffsetPaymentDate' }, disabled: disabled
  = payment_date_form.input :id, as: :hidden, disabled: disabled
